
/*标题样式及动画*/
.title{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 135px;
    font-size: 50px;
    color: blue;
    text-shadow: 5px 5px 3px #e6f223;
    font-weight: 600;
}
.tip{
    position: absolute;
    z-index: 2;
    animation:myfirst 5s;
    -moz-animation:myfirst 5s; /* Firefox */
    -webkit-animation:myfirst 5s; /* Safari and Chrome */
    -o-animation:myfirst 5s; /* Opera */
}
@keyframes myfirst{
    0%   {transform:rotate(5deg);}
    25%	 {transform:rotate(-10deg);}
    75%  {transform:rotate(5deg);}
    100% {transform:rotate(-10deg);}
}

@-moz-keyframes myfirst{
    0%   {transform:rotate(5deg);}
    25%	 {transform:rotate(-10deg);}
    75%  {transform:rotate(5deg);}
    100% {transform:rotate(-10deg);}
}

@-webkit-keyframes myfirst{
    0%   {transform:rotate(5deg);}
    25%	 {transform:rotate(-10deg);}
    75%  {transform:rotate(5deg);}
    100% {transform:rotate(-10deg);}
}

@-o-keyframes myfirst{
    0%   {transform:rotate(5deg);}
    25%	 {transform:rotate(-10deg);}
    75%  {transform:rotate(5deg);}
    100% {transform:rotate(-10deg);}
}




.main{
    width: 60%;
    border: 5px dotted red;
    margin: 0 auto;
    padding: 30px;
    font-size: 20px;
}
.main p{
    margin-bottom: 15px;
    font-weight: 600;
}
#num{
    margin-left: 40px;
}
.MD{
    padding-left: 20px;
}
.Num{
    margin-left: 145px !important;
}
.bracket{
    margin-left: 100px;
}
.choise{
    margin-left: 60px;
}
.md{
    margin-left: 120px;
}
#change{
    color: black;
    display: block;
}
#change:hover{
    text-decoration: none;
    color: red;
    text-shadow: 1px 1px 1px #52fb72;
}

